<launch>
	<arg name="rosbag_enabled" default="false"/>
	<arg name="rosbag_prefix_url" default="/tmp"/>

	<arg name="crop_service" default="crop_service"/>
	
	<node name="nautonomous_cropper_node" pkg="nautonomous_map_cropper" type="image_cropper_node.py"  output="screen" >
		<param name="original_image_name" value="amsterdam"/>

		<remap from="crop_service" to="$(arg crop_service)"/>
	</node>

</launch>
